body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.top-section {
  height: 500px;
  padding-bottom: 125px;
}
.my-mission-section {
  height: 500px;
  padding-bottom: 125px;
}
.third-section {
  height: 500px;
  padding-bottom: 125px;
}
.fourth-section {
  height: 500px;
  padding-bottom: 125px;
}
.bonus-section {
  text-align: center;
  height: 500px;
  margin-bottom: 0;
}
.bonus-section h1 {
  font-size: 36px;
  border-bottom: 4px solid dodgerblue;
  display: inline-block;
}
.bonus-section p {
  margin-bottom: 50px;
}
.bonus-div {
  margin-left: 100px;
  padding-left: 2%;
  width: 80%;
}
.bonus-button {
  font-weight: 500;
  padding: 15px 30px;
  color: dodgerblue;
  border-radius: 10px;
  border: 1px solid dodgerblue;
  text-decoration: none;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 100px;
  margin-top: 80px;
  padding-left: 2%;
}
.half-width img {
  width: 80%;
}
.half-width h1 {
  font-family: "Yeseva One", cursive;
  font-size: 60px;
  font-weight: 400;
  margin-left: 10px;
  margin-bottom: 15px;
}
.button {
  font-weight: 500;
  padding: 15px 40px;
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}
.half-width p {
  color: #3e3e3e;
  font-size: 18px;
  margin-bottom: 40px;
  margin-top: 30px;
}
.half-width span {
  color: cornflowerblue;
}
.left-border {
  border-left: 4px solid dodgerblue;
}
.my-mission-section h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
.my-mission-section span {
  color: cornflowerblue;
}
.my-mission-section img {
  width: 50%;
}
.my-mission-div {
  margin-left: 9%;
}
.mission-div {
  background: rgba(79, 157, 166, 0.1);
  border-radius: 26px;
  height: 380px;
  width: 300px;
  float: left;
  padding: 30px;
}
.vision-div {
  background: rgba(255, 89, 89, 0.1);
  border-radius: 26px;
  height: 380px;
  width: 300px;
  float: left;
  margin-left: 24px;
  padding: 30px;
}
.goals-div {
  background: #fff4d6;
  border-radius: 26px;
  height: 380px;
  width: 300px;
  float: left;
  margin-left: 24px;
  padding: 30px;
}
.third-section {
  align-items: center;
  justify-content: center;
}
.image-div {
  width: 30%;
  float: left;
  margin-left: 100px;
  margin-top: 80px;
  padding-left: 2%;
}
.image-div img {
  width: 100%;
}
.desc-div {
  width: 40%;
  float: left;
  margin-left: 100px;
  margin-top: 80px;
  padding-left: 2%;
}
.desc-div h1 {
  font-size: 36px;
}
.desc-text {
  margin-bottom: 40px;
}
footer {
  background-color: #0b0d17;
  height: 180px;
  text-align: center;
  padding: 10px 0;
}
footer h2 {
  font-family: "Lobster", cursive;
  font-weight: 400;
  font-size: 36px;
  color: white;
}
footer span {
  color: dodgerblue;
}
footer p {
  color: white;
  font-size: 14px;
}
